{% import "components/pagination.html" as pagination %}

<script src="/static/js/ptable.js" defer></script>
<div class="container mt-4" id="ptable-container">
  <table id="table" class="table table-striped">
    <thead class="thead-dark">
      <tr>
        {% for title in ["Name", "Atomic Number","Symbol", "Atomic Mass"] %}
        <th scope="col">{{ title }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody></tbody>
    {% for element in elements %}
    <tr>
      <td>{{ element.name }}</td>
      <td>{{ element.atomic_number }}</td>
      <td>{{ element.symbol }}</td>
      <td>{{ element.atomic_mass }}</td>
    </tr>
    {% endfor %}
  </table>
  <nav class="d-flex justify-content-center">
    <ul class="pagination text-center">
      {{ pagination::pagination(curPage=curPage, lastPage=lastPage) }}
    </ul>
  </nav>
</div>
<div class="hidden" id="curPage" data-page="{{ curPage }}"></div>
<div class="hidden" id="lastPage" data-page="{{ lastPage }}"></div>
